DB_NAME=geovoice
DB_USER=postgres
DB_PASSWORD=MmHh@1967
DB_HOST=localhost
DB_PORT=5432

X_GMAIL=test@mail.com
X_USERNAME=GeoVoiceBot
X_PASSWORD=changeme

NVIDIA_NIM_API_KEY=nvapi-R_dwadaoidoinda-daonbdawoind

#-- Docker ELASTIC
ELASTIC_INDEX=dppa.st
ELASTIC_INDEX_COUNTRIES=countries
ELASTIC_INDEX_XPATH=urlconfig
ELASTIC_INDEX_STATUS=website_status
ELASTIC_INDEX_DP_ESTIMATED_URLS=dp_articles_per_day
# ELASTIC_HOST=http://es:9200
ELASTIC_HOST=http://localhost:9200
ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=changeme

# from core.tasks import classify_rawposts_with_ai

# result = classify_rawposts_with_ai(batch_size=5)
# print(result)