asgiref==3.11.1
attrs==26.1.0
beautifulsoup4==4.14.3
black==26.3.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
Django==5.2.13
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
factory_boy==3.3.3
Faker==40.15.0
filelock==3.29.0
flake8==7.3.0
idna==3.13
inflection==0.5.1
iniconfig==2.3.0
isort==8.0.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lxml==6.1.0
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.9.6
pluggy==1.6.0
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
PyJWT==2.12.1
PySocks==1.7.1
pytesseract==0.3.13
pytest==9.0.3
pytest-django==4.12.0
python-decouple==3.8
python-dotenv==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
requests==2.31.0
rpds-py==0.30.0
snscrape==0.7.0.20230622
soupsieve==2.8.3
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==1.26.20


# Celery
celery==5.3.6
redis==5.0.4

# Search
elasticsearch==7.17.9

# AI / NVIDIA NIM
openai==1.56.0